[Unit]
Description=Add user to custom groups
After=local-fs.target
ConditionPathExists=/usr/bin/custom-groups

[Service]
Type=oneshot
ExecStart=/usr/bin/custom-groups
RemainAfterExit=yes
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
