[Unit]
Description=Post installation system setup checker
After=graphical-session.target

[Service]
Type=oneshot
ExecStartPre=/bin/bash -c "echo 'Checking user..'; CURRENT_USER=$(whoami); if [[ \"$CURRENT_USER\" == \"sddm\" || \"$CURRENT_USER\" == \"root\" || \"$CURRENT_USER\" == gdm* ]]; then echo \"User is $CURRENT_USER, skipping post-install-checker...\" >&2; exit 1; fi"
ExecStartPre=/bin/bash -c "echo 'Checking stellasaur repo'; if [ ! -d %h/Repos/stellasaur ]; then mkdir -p %h/Repos && git clone https://github.com/josemiguelo/stellasaur.git %h/Repos/stellasaur; fi"
ExecStart=/bin/bash -c "echo 'Post install checker done!'"
RemainAfterExit=no

[Install]
WantedBy=default.target
